<%- include("partials/header") -%>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Tunnel</h1>
      <p>Here is the tunnel</p>
      <!-- for loop inside tunnels and display -->
        <ul>
            <% for (var i = 0; i < tunnels.length; i++) { %>
                <li class="row"><a href="http://<%= tunnels[i].link %>"target="_blank" rel="noopener noreferrer"><%= tunnels[i].link%></a> 
                  <form action="/kill-tunnel" method="post">
                    <input type="hidden" name="tunnel" value='<%= JSON.stringify(tunnels[i]) %>'>
                    <button type="submit">Kill</button>
                  </form>
                </li>
            <% } %>
        </ul>
    </div>
  </div>

<%- include("partials/footer") -%>